version: '3.7'
services:
  # Database
  db:
    image: mysql:5.7
    container_name: ${APP_NAME}_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - ${PORT_DATABASE}:3306
    volumes:
      - "./data/db/mysql:/var/lib/mysql"
      - "./etc/db/mysql/my.cnf:/etc/mysql/my.cnf"
    networks:
      laravel-net:

  # PHP-FPM
  php:
    build:
      context: ./etc/php
      args:
        ADD_ALIASES: ${ADD_ALIASES}
        INSTALL_XDEBUG: ${INSTALL_XDEBUG}
        PHP_VER_FPM: ${PHP_VER_FPM}
    container_name: ${APP_NAME}_php
    restart: unless-stopped
    volumes:
      - ./etc/php/php.ini:/usr/local/etc/php/conf.d/php.ini
      - ${APP_PATH}:/var/www/html
    networks:
      laravel-net:

  #Nginx Service
  web:
    image: nginx:alpine
    container_name: ${APP_NAME}_nginx
    restart: unless-stopped
    tty: true
    ports:
      - "${PORT_HTTP}:80"
      - "${PORT_HTTPS}:443"
    volumes:
      - ./etc/nginx/conf.d/:/etc/nginx/conf.d/
      - ${APP_PATH}:/var/www/html
    networks:
      laravel-net:
      reverse-net:

  # Node.js
  node:
    image: node:13-alpine
    container_name: ${APP_NAME}_node
    restart: unless-stopped
    volumes:
      - ${APP_PATH}:/var/www/html
    working_dir: /var/www/html
    tty: true
    networks:
      laravel-net:

# **** Redis needs production config
  redis:
    build:
      context: ./etc/redis
    container_name: ${APP_NAME}_redis
    ports:
      - "${PORT_REDIS}:6379"
    volumes:
      - "./data/redis:/data"
    restart: unless-stopped
    networks:
      laravel-net:

  # **** rabbitmq
  rabbitmq:
    build:
      context: ./etc/rabbitmq
    container_name: ${APP_NAME}_rabbitmq
    volumes:
      - ./data/rabbitmq/:/var/lib/rabbitmq/
      - ./data/rabbitmq/logs/:/var/log/rabbitmq/
    environment:
      RABBITMQ_ERLANG_COOKIE: ${RABBITMQ_ERLANG_COOKIE}
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    ports:
      - 5672:5672
      - 15672:15672
    restart: unless-stopped
    networks:
      laravel-net:

  myadmin:
    image: phpmyadmin/phpmyadmin
    container_name: ${APP_NAME}_phpmyadmin
    ports:
      - ${PORT_PHPMYADMIN}:80
    restart: unless-stopped
    depends_on:
      - db
    networks:
      laravel-net:

# Networks
networks:
  laravel-net:
    name: ${APP_NAME}-net
  reverse-net:
    name: reverse-net
